page-login {

  #caja {
    height: 25%;
    width: 100%;
  }

  #iniciar {
    width: 100%;
  }

  #final {
   width: 100%;
 }
 .button {
   width: 100%;
 }
 ion-content {
 background-image: url(../assets/img/fondo.jpg);
 }
}
