page-albergue-detalle {
.sebm-google-map-container {
  height: 300px;
  width:100%;
}
h2,h1 {
 text-align: left;
 padding-left: 2%;
}
ion-card {
    position: relative;
    text-align: center;
  }
  ion-content {
  background-image: url(../assets/img/fondo.jpg);
  }
}
